name: BUILD

on: repository_dispatch

permissions:
  id-token: write
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - uses: actions/setup-node@v4
      with:
        node-version: 20
        registry-url: https://registry.npmjs.org

    # Ensure npm 11.5.1 or later for trusted publishing
    # https://github.com/orgs/community/discussions/173102
    - run: npm install -g npm@latest
    
    - run: npm run ci
      env:
        FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.BOT_AUTH_TOKEN }}
        tags: true

    - run: curl -X POST -u '${{secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}}' -H 'Accept:\ application/vnd.github.everest-preview+json' -H 'Content-Type:\ application/json' https://api.github.com/repos/core-ds/icons-demo/dispatches --data '{"event_type":"build_application"}'
